.head {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1.5fr 40px;
  gap: 1px;
  color: var(--color-white);
  text-align: center;
}

.head-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 40px;
  padding: 0 13px;
  background-color: var(--color-gray-700);
}

.input {
  width: 100%;
  background-color: transparent;
  border: var(--border-size) solid transparent;
  border-radius: var(--border-radius);
  padding: 0.4rem;
  outline: none;
  background-color: var(--color-white);
}

.input:focus {
  background-color: var(--color-white);
  color: var(--color-black);
}
