.head {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1.5fr 40px;
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-gray-800);
  z-index: 1;
}

.head-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 0.3rem;
  border-right: var(--border-size) solid var(--color-white);
}

@media (max-width: 740px) {
  .head-item {
    flex-direction: column;
  }
}

.input {
  width: 100%;
  background-color: var(--color-white);
  border: var(--border-size) solid transparent;
  border-radius: var(--border-radius);
  padding: 0.4rem;
  outline: none;
}
