.input {
  width: 100%;
  background-color: transparent;
  border: var(--border-size) solid transparent;
  border-radius: var(--border-radius);
  padding: 0.4rem;
  outline: none;
}

.input:focus {
  background-color: var(--color-white);
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background-color: var(--color-gray-200);
}
