.list {
  border-radius: var(--border-radius);
  overflow: hidden;
  max-height: 62vh;
  max-width: 706px;
  width: 90%;
  overflow-y: scroll;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1.5fr 40px;
  gap: 1px;
}

.even > div {
  background-color: var(--color-gray-300);
}

.header {
  margin: 14px 0 30px;
}
