.select {
  border: var(--border-size) solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: var(--font-size-base);
  min-height: 2rem;
}

.get {
  color: var(--color-success-500);
}

.post {
  color: var(--color-warning-500);
}

.put {
  color: var(--color-info-500);
}

.patch {
  color: var(--color-info-900);
}

.delete {
  color: var(--color-warning-900);
}

.head {
  color: var(--color-success-900);
}

.options {
  color: var(--color-error-500);
}
